body {
  margin: 0;
  background: rgb(22, 24, 24);
}

#game-canvas {
  background: gray;
  display: block;
  position: relative;
  top: 35px;
  margin: 0 auto;
}

.game-title{
  text-align: center;
  color: antiquewhite;
}

.score {
  color: white;
  width: fit-content;
  font-family: fantasy;
  margin: 0 auto;
}

.score-num{
  display: inline;
}
