body {
  margin: 0;
  background: rgb(22, 24, 24)
}

canvas {
  background: gray;
  position: fixed;
  left: 50%;
  transform: translate(-50%,25%);
}

h1{
  text-align: center;
  color: antiquewhite;
  margin-bottom: -50px;
}
.score{
  color: white;
  font-family: fantasy;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}

.score-num{
  display: inline;
}
